.header {
    margin-bottom: 20px;
    display: flex;
    .left {
        flex:1
    }
    .right {
        flex:1;
        text-align: right;
    }
}

.content {
    margin-bottom: 20px;

    .loading {
        text-align: center;
    }
}
 #scrollableDiv {
    overflow: auto;
    height: calc(100vh - 64px - 69px - 48px - 68px - 20px - 20px);
    margin: 0;
 }

.footer {
    text-align: center;
}
