.wrapper {
    display: flex;
    flex-direction: column;
    background-color: #f0f2f5;
    height: 100vh;
    
    .stat {
        margin: 15px 20px;
        display: flex;
        justify-content: space-between;
        height: calc(100vh - 54px - 30px);

        .left {
            background-color: #fff;
            width: 300px;
            overflow: hidden;
        }

        .main {
            background-color: #fff;
            flex: 1;
            margin: 0 20px;
            padding: 12px 18px;
        }

        .right {
            background-color: #fff;
            width: 350px;
            padding: 12px 18px;
            overflow: hidden;
        }
    }
}