.header {
    margin-bottom: 20px;
    display: flex;
    .left {
        flex:1
    }
    .right {
        flex:1;
        text-align: right;
    }
}

.content {
    margin-bottom: 20px;
}

.footer {
    text-align: center;
}
//临时
body {
    background-color: beige;
}
