.header-wrapper {
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 12px 0;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 12px;
    
        .left {
        }
    
        .right {
        }
    }
}